html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    /*font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
    counter-reset: company-index;
    line-height: 1.5;
}

/** {*/
/*    outline: 1px solid black;*/
/*}*/

a[href] {
    text-decoration: none;
    color: black;
    position: relative;
}

a[href]::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 70%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: rgba(12, 99, 230, 0.4);
}

a[href]:hover::after {
    top: 0;
}

@media screen and (min-width: 800px){
    .paper {
        width: 800px;
        margin: 50px 0 100px;
        padding: 30px;
        box-shadow: black 0 0 5px 1px;
    }
}

@media screen and (max-width: 800px) {
    .paper {
        margin: 5px;
        padding: 30px;
        box-shadow: black 0 0 5px 1px inset;
    }
}

.paper > div:first-child {
    text-align: center;
    text-shadow: black 5px 5px 10px;
    font-size: 3em;
}

.subtitle {
    border-bottom: 1px solid lightgray;
    font-size: 1.2em;
}

.company {
    padding-left: 20px;
    counter-reset: project-index;
}

.company > a:first-of-type::before {
    counter-increment:company-index;
    content: counter(company-index) ". ";
}

.project {
    padding-left: 20px;
}

.project > a:first-of-type::before {
    counter-increment:project-index;
    content: counter(project-index) ". ";
}

.project > div:first-of-type {
    padding-left: 10px;
}

.project > .keywords {
    font-size: small;
    font-style: oblique;
    color: darkgreen;
    padding-left: 10px;
}

.project > .keywords::before {
    content: ">> ";
}

.skills > div:first-of-type {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills > div > div {
    box-sizing: border-box;
    width: 250px;
    padding: 0 10px 0 10px;
}

.skills > div > div > span {
    font-size: 1em;
}